##
# Source perameters for the given sequence
# -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath:              FlowerDance/ply_vox11/ply_xyz_rgb/FlowerDance_UVG_vox11_25_0_250_%04d.ply
geometry3dCoordinatesBitdepth:     10
geometryNominal2dBitdepth:         8
frameCount:                        250
startFrameNumber:                  0
groupOfFramesSize:                 32
iterationCountRefineSegmentation:  50
#minNormSumOfInvDist4MPSelection:   0.33
#partialAdditionalProjectionPlane:  0.17
#maxPatchSize:                      1024

##
# partitions/ROIs and tiles
# 4 partitions
roiBoundingBoxMinX:                0,0,0,0
roiBoundingBoxMaxX:                2047,2047,2047,2047
roiBoundingBoxMinY:                0,512,1024,1536
roiBoundingBoxMaxY:                511,1023,1535,2047
roiBoundingBoxMinZ:                0,0,0,0
roiBoundingBoxMaxZ:                2047,2047,2047,2047
numTilesHor:                       2
tileHeightToWidthRatio:            1
numCutsAlong1stLongestAxis:        2
numCutsAlong2ndLongestAxis:        1
numCutsAlong3rdLongestAxis:        1
